*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial;
}
html{
	scroll-behavior: smooth;
}
header{
	display: flex;
	background-color:#336bff;
	padding: 12px;
	color: #ffffff;
	padding-left: calc(50% - 540px);
	align-items: center;
}
header img{
	height: 60px;
	width: 60px;
	background-color: #ffffff;
	border-radius: 50%;
	padding: 6px;
	margin-right: 12px;
	object-fit: contain;
}

nav{
	display: flex;
	padding: 6px;
	background-color: #F4D35E;
	padding-right: calc(50% - 540px);
	color: #2A2D34;
}
nav li:first-child{
	margin-left: auto;
}
nav li{
	list-style: none;
	margin-right: 10px;
	transition: .3s ease;
}
nav li hr{
	width: 0px;
	visibility: hidden;
	margin-left: 50%;
	transition: .1s ease;
	border-style: solid;
	border-width: .5px;
	border-color: #2A2D34;
}
nav li:hover hr{
	transition: .3s ease;
	margin: 0;
	width: 100%;
	visibility: visible;
}
a{
	color: inherit;
	text-decoration: none;
}

body > div{
	margin-left: calc(50% - 540px);
	margin-right: calc(50% - 540px);
}

.slideshow{
	width: 1080px;
	height: 378px;
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
	animation: slider 10s ease infinite;
	position: relative;
}
.slideshow .slide{
	background-color: #ffffff;
	box-shadow: 0px 3px 6px #54545470;
	width: 100%;
	min-width: 1080px;
	border-radius: 	5px;
	margin-top: 12px;
	margin-right: 1080px;
	position: absolute;
}
.slideshowPagination{
	display: flex;
	margin-top: 12px;
}
.slideshowPagination li.dot{
	list-style: none;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #545454;
	margin-right: 5px;
	transition: .1s ease;
	cursor: pointer;
}
.slideshowPagination li.dot:hover{
	background-color: #336bff;
	transition: .2s ease;
}

h2.productsTitle{
	margin-top: 12px;
	padding: 12px;
	background-color: #F4D35E;
	color: #2A2D34;
	padding-left: calc(50% - 540px);
	padding-right: calc(50% - 540px);
}

.productos{
	margin-top: 12px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
}
.productos .marca{
	height: fit-content;
	transition: .1s ease;
	position: relative;
	border-radius: 5px;
}
.productos .marca:hover{
	box-shadow: 0px 0px 6px #54545470;
	transition: .3s ease;
}
.productos .marca p{
	display: none;
	text-align: justify;
	margin: 12px;
	margin-top: 10px;
}
.productos .marca span{
	opacity: 0;
	transition: .1s ease;
	position: absolute;
	top: 114px;
	right: 12px;
	cursor: pointer;
}
.productos .marca img{
	height: 150px;
	width: 352px;
}
.productos .marca:hover span{
	opacity: 1;
}

.contactanos{
	margin-top: 12px;
	display: flex;
	margin-bottom: 24px;
}
form{
	margin: auto;
	margin-top: 12px;
	width: 50%;
	min-width: 400px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
}
input, textarea{
	padding: 12px;
	border: solid 1px #2A2D3470;
	border-radius: 5px;
	outline: none;
}
footer{
	color: #ffffff;
	background-color: #2A2D34;
	padding: 24px;
	padding-left: calc(50% - 540px);
	padding-right: calc(50% - 540px);
}

span{
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
}

.alert{
    padding: 10px;
    border-radius: 3px;
    grid-column: span 2;
}
.alertWarning{
    border-left: #E6C037 4px solid;
    background-color: #F4E3A4;
    color: #7F6710;
}
.alertSuccess{
    border-left: #119822 4px solid;
    background-color: #91F39E;
    color: #0A5C15;;
}
.alertError{
    border-left: 4px solid #941B0C;
    background-color: #F69A8E;
    color: #711509;
}

footer{
	display: flex;
	justify-content: space-between	;
}
footer a{
	display: flex;
	align-items: center;
}
footer a span{
	margin-right: 12px;
	font-size: 36px;
}